@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	background-color: #2f1f40;
	margin: 0;
	font-family: 'Lato', sans-serif;
	line-height: 150%;
	letter-spacing: 1px;
}

h2 {
	color: #ffffff;
}

a {
	padding-left: 5rem;
}

header {
	background-color: #1c1c1c;

}

.header {
	padding: 1rem;
}

section {
	background-color: #3498db;
	padding: 3rem;
	color: #ffffff;
}

.about-me {
	padding: 6rem;
}

.about-me img {
	width: 100px;
    border-radius: 100%;
    display: inline-block;
}
.about-me h1 {
	display: inline-block;
	vertical-align: top;
    padding: 2rem;
    font-size: 3rem;
    margin: 0;
}

article {
	display: table;
    width: 100%;
}

article .image, article .content {
	width: 50%;
    margin: -3px;
	display: inline-block;
	vertical-align:top;	
	display: table-cell;
    margin: 0em;
    padding: 0em;
    height: auto;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

article .content .inner {
	padding: 6rem;
}

.one, .one a {
	background-color: #1abc9c;
	color: #ffffff;
}

.one .image {
	background-image: url(https://raw.githubusercontent.com/KyloJorgensen/Kylo-Jorgensen-Portfolio/master/images/pathfinder.png);
}

.two, .two a {
	background-color: #ffffff;
	color: #1abc9c;
}

.two .image {
	background-image: url(https://raw.githubusercontent.com/KyloJorgensen/Kylo-Jorgensen-Portfolio/master/images/spotify.png);
}

.three, .three a {
	background-color: #3498db;
	color: #ffffff;
}

.three .image {
	background-image: url(https://raw.githubusercontent.com/KyloJorgensen/Kylo-Jorgensen-Portfolio/master/images/fitforthekingdom.png);
}


.four, .four a {
	background-color: #ffffff;
	color: #3498db;
}

.four .image {
	background-image: url(https://raw.githubusercontent.com/KyloJorgensen/Kylo-Jorgensen-Portfolio/master/images/weather.png);
}


article {
	text-align: center;
}

article a {
	text-decoration: none;
	margin: 0;
	padding: 1rem;
	background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
}

.invert a {
	background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
}

footer {
	background-color: #1c1c1c;
}

.footer{
	padding: 3rem;
}

.footer a {
	color: #ffffff;
}

@media screen and (min-width: 1200px) {

}
