@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans');

body {
	background-color: #2f1f40;
	margin: 0;
	font-family: 'Open+Sans', sans-serif;
	line-height: 150%;
	letter-spacing: 1px;
}

h2 {
	color: #ECE2FF;
	font-family: 'Dosis', sans-serif;
}

h1 {
	color: #76717F;
	font-family: 'Dosis', sans-serif;
} 

a {
	padding-left: 5rem;
	color: black;
}

.container {
	margin: auto;
}

header {
	background-color: #654B7F;

}

.header {
	padding: 1rem;
}

main {
	background-color: #ecebff;
}

section {
	background-color: #ffffff;
	padding: 3rem;
}

footer {
	background-color: #2f1f40;
}

.footer{
	padding: 3rem;
}

.footer a {
	color: #ffffff;
}

@media screen and (min-width: 1200px) {
	.container {
		width: 1200px;
	}	
}
